@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
}

.container{
max-width: 100%;
}

.top-section{
    max-width: 100%;
    height: 356px;
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 0px 0px 32px 32px;
    display:flex;
    flex-direction: column;
    text-align: center;  
    align-items: center;
    padding-top: 24px;
    margin-bottom: 24px;
}

h2{
font-weight: 700;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #CAC9FF;
}

.number{
Width:140px;
Height:140px;
border-radius: 50%;
background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 24px;
margin-bottom: 24px;
}

.seventysix{
font-weight: 800;
font-size: 56px;
line-height: 72px;
text-align: center;
color: #FFFFFF;
}

.hundred{
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #CAC9FF;
mix-blend-mode: normal;
opacity: 0.52;
}

h1{
font-weight: 700;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #FFFFFF;
}

p{
font-weight: 500;
font-size: 16px;
line-height: 21px;
text-align: center;
color: #CAC9FF;
padding-top: 8px;
width: 260px;
transform: translateY(8px);
}

/* styles for bottom-section */
h3{
font-family: 'Hanken Grotesk';
font-style: normal;    
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #303B59;    
margin-top: 24px;
margin-left: 32px;
transform: translateX(-150%);
}

.row{
   width:315px;
   height:56px;
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
   border-radius: 12px;
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   margin-top: 8px;
   border:none;
}

.bottom-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 30px;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    gap: 13px;
}

/* colors for Category list */
.reaction{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FF5555;
}

.memory{
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #FFB21E;
}

.verbal{
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #00BB8F;
}

.visual{
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #1125D6;
}

/* attributes for numbers */
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
   text-align: right;
   color: #303B59;
}

.one-hundred{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #303B59;
    opacity: 0.5;
    margin-right: 16px;  
}

.btn{
   width:315px;
   height:56px;
   border-radius: 128px; 
   background: #303B59;
   font-size: 18px;
   line-height: 23px;
   color: #FFFFFF;
   margin-top: 8px;
   border:none;
}


@media screen and (min-width: 1440px){
    body{
        justify-content: center;
        align-items: center;
    }
    .container{
    width: 100%;
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
    }

    .top-section{
        width:368px;
        height:512px;
        padding-top: 40px;
        margin-bottom: 28px;
    }

    .h2{
      font-size: 40px;  
      line-height: 31.27px;
    }

.number{
    Width: 200px;
    Height: 200px;
    margin-top: 35px;
}

.seventysix{
    font-size: 72px;
    line-height: 72px;
}

.hundred{
   font-size: 18px; 
   margin-top: 4px;
}

h1{
 font-size: 32px;
}

p{
font-size: 18px;
transform:translateY(70%)
}

.bottom-section{
    width:368px;
    height:512px; 
 }

 h3{
    font-size: 24px;
    line-height: 31.27px;
    transform: translateX(-90px);
 }

 .row{
    width: 288px;
 }

 .reaction{
    font-size: 18px;
    line-height: 23.45px;
}

.memory{
    font-size: 18px;
    line-height: 23.45px;
}

.verbal{
    font-size: 18px;
    line-height: 23.45px;
}

.visual{
    font-size: 18px;
    line-height: 23.45px;
}

.numbers{
    font-size: 18px;
    line-height: 23.45px;
}

.one-hundred{
    font-size: 18px;
    line-height: 23.45px;  
}

.btn{
    width: 288px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
}
}
